<ul class="cssMenu cssMenum">
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Administración</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="../view/tarjetahabiente.php">Tarjeta-Habientes</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/visit.php">Visitas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/bienes.php">Bienes</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/reportes.php">Reportes</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Formato de Tarjetas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Tipos de Carnet</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Directorios</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Autoridades Certificadoras</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../../usuarios/view/usuario.php">Usuarios</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Estaciones de Trabajo</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Opciones del Sistema</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/opciones_tarjetahabientes.php">Opciones de Tarjeta-Habiente</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Segmentos</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Constructores de Listas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Mobile Verify</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">DataConduIT Message Queues</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Archives</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Planificación de Tareas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Action Group Library</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Global Output Devices</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Download Entire System</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Control de Acceso</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="../../controldeacceso/view/panel_acceso.php">Paneles de Acceso</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/lectoras_de_tarjetas.php">Lectoras de Tarjetas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/panel_alarma.php">Paneles de Alarmas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/modem.php">Modems</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/zonas_horarias.php">Zonas Horarias</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/niveles_acceso.php">Niveles de Acceso</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/areas.php">Areas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/grupos.php">Grupos</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/entrada_salida_local.php">Entrada/Salida Local</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/entrada_salida_global.php">Entrada/Salida Global</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/resistencia_configuracion.php">EOL Resistor Configuration</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/destino_garantia.php">Destination Assurance</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Monitoreo</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="../view/alarmas.php">Alarmas</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/zonas_monitoreo.php">Zonas de Monitoreo</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="../view/rondas.php">Rondas de Vigilancia</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Video</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="../../videovigilancia	">Video Digital</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Video Inteligente</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Matrix Switchers</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Hardware Adicional</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="#">Paneles de Incendio</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Dispositivos Intercomunicadores</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Dispositivos de Seguridad Personal</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Recibidores</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Dispositivos de Detección de Intrusos</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Cisco AIC Panels</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Dispositivos POS</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">SNMP Managers</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">DataConduIT Sources</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">OPC Connections</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Acceso Lógico</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="#">ActivIdentity</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">VeriSoft</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="#"><span>Ayuda</span><![if gt IE 6]></a><![endif]><!--[if lte IE 6]><table><tr><td><![endif]-->
	<ul class=" cssMenum">
		<li class=" cssMenui"><a class="  cssMenui" href="#">Contenido</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">Buscar</a></li>
		<li class=" cssMenui"><a class="  cssMenui" href="#">About</a></li>
	</ul>
	<!--[if lte IE 6]></td></tr></table></a><![endif]--></li>
	<li class=" cssMenui"><a class="  cssMenui" href="../../carnetizacion/view/index.php">Carnetización</a></li>
	<li class=" cssMenui"><a class="  cssMenui" href="../view/cambiarclave.php">Clave</a></li>
	<li class=" cssMenui"><a class="  cssMenui" href="../view/login.php">Salir</a></li>
</ul>
