/* 
    Document   : mobile.custom
    Created on : 07/05/2012, 10:59:25 AM
    Author     : simulab-5
    Description:
        Purpose of the stylesheet follows.
*/

div#headerMobile{
    width:100%; 
    background: url('../../images/m.separador-1.png') repeat-x ;
    height: 43px;
}

#userInfo{    
    float: right;
    right: 0px;
    top:0px;
    position: absolute;
    font-size: 11px;
    font-style: oblique;
    opacity:0.9;
    width: 150px;
    height: 33px;
    border: 2px solid #ccc0a9;
    border-right: 0px;
    z-index: 1000;
    padding: 2px;
   
}	
#userInfoClose{
    float: right;    
    position: absolute;
    right: 0px;
}
    
div#footerMobile{
    border-top:3px solid #d02433;
}
.titulo{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px 5px 0px;                
}


.nav-glyphish-icons .ui-btn .ui-btn-inner{ padding-top: 40px !important; }
.nav-glyphish-icons .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }