/*--- Paginado ---*/
@import'paginado.css';

/*--- Buscador ---*/
@import'style.fcbkcomplete.css';

input, button, sub, select{
border: #c0c0c0 1px solid; font-family: arial,verdana; font-size: 14px; background-color: #ffffff;
}


/* este es el css del body */
body  {
	/*font-size:14px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
 	background:#DfDfDf;
        font: 75% Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin-left:50px;
        margin-right:50px;
        
 /*font-size:100%; font-family: verdana,arial, sans-serif;*/ 
    
}

td{
    font: 75% Verdana, Geneva, Arial, Helvetica, sans-serif; margin: 50px;
}
th{
    
    font: bold 75% Verdana, Geneva, Arial, Helvetica, sans-serif; margin: 50px;
}
select{
    background: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

small.comment{
    display:block;
    clear:both;
    color: #808080;
    font-style: italic;    
}

img {
    border: 0;
}

input[type="text"], input[type="password"], textarea, div.divTextarea{ 
    background:#fff;
    border:1px solid #d5d5d5;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius:4px;
        
}


/*--- Text Area con contador de caracteres ---*/
textarea, div.divTextarea{
    background:#fff;
    border:1px solid #d5d5d5;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
    border-radius:4px;

}
div.divTextarea{
    padding: 5px;
}
.charLeftDiv, .charLeft{
    font-size: 9px;
}

/* User Interface Resizable Interaction */
.ui-resizable-se {
    right: 11px;
    bottom: 21px;
}


/* Mensaje informativo */
.info, .ui-state-highlight .info{
    width: 97%;
    border: 1px solid #FFD700;
}
/* Icono mensaje informativo */
.icon-info{
    width: 32px;
    height: 35px;
    background-image: url(../images/Warning-32.png);
    background-repeat: no-repeat;
    background-position: 0px 7px;
}

p.dbErrorMsg{
    width: 330px;
    margin-top: -6px;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 0px 2px 0px;
}