/* 
    /*******************************************************************************\
  *     @copyright
  * 
  *                                 === SIPve ===
  *     Sistema Integrado de Protección con capacidades de Videovigilancia
  *     Control de Acceso y Carnetización para el resguardo físico de instalaciones.
  * 
  *     Copyright (C) 2012 Fundación Centro Nacional de Innovación Tecnológica, Cenit.
  *                        Dirección de Investigación, Desarrollo e Innovación.
  *                        Gilda Ramos.
  *                        José Medina.
  *                        Héctor Reverón.
  *                        David Concepción.
  *                        Ronald Delgado.
  *                        Jenner Fuentes.
  * 
  *     This program is free software: you can redistribute it and/or modify
  *     it under the terms of the GNU General Public License as published by
  *     the Free Software Foundation, either VERSION 3 of the License, or
  *     (at your option) any later version.
  *     
  *     This program is distributed in the hope that it will be useful,
  *     but WITHOUT ANY WARRANTY; without even the implied warranty of
  *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *     GNU General Public License for more details.
  * 
  *     You should have received a copy of the GNU General Public License
  *     along with this program.  If not, see <http://www.gnu.org/licenses/>.  
  * 
  *     Para mas información visite 
  *     @link http://repositorio.softwarelibre.gob.ve/ - RNA
  *     @link http://sourceforge.net/projects/sipve/   - SourceForge
  *     @link https://gitlab.com/talueses/SIPVE - Gitlab Repositorio.
  * 
 \*******************************************************************************/
*/

div#paginado{
    width: 400px;
    padding: 2px;
    background:#fff;
    border:1px dashed #c0c0c0;
    font-size: 8px;
}
div#paginado button{
    font-size: 8px;
    font-weight: bold;
    height: 20px;
    width: 25px;
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 0px ;
    
}
div#paginado button span{
    padding: 0px 0px 0px 0px ;
    margin: 0px 0px 0px 0px ;
}
div#paginado select#perPage{
    margin-bottom:  3px;
    font-family:MS Sans Serif;
    font-size:10px;
    color:#333333;
    height:18px;
    width:40px;
}